name: BRAHMAAX Cloud Recorder

on:
  workflow_dispatch:
  schedule:
    - cron: "*/1 4-10 * * 1-5"

jobs:
  record:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - run: pip install requests

      - run: python recorder.py
