name: BRAHMAAX Cloud Recorder

on:
  workflow_dispatch:
  schedule:
    - cron: "*/1 4-10 * * 1-5"

jobs:
  record:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install requests

      - name: Run recorder
        run: python recorder.py
